@model MVC_Project.Models.student
@{
    ViewBag.Title = "details";
}
@if (Session["userid"] != null)
{
    <table class="table table-active">
        <tr>
            <td>
                <img src="~/attach/@Model.img" width="250px" height="250px" />
            </td>
            <td>
                <h3>Hi , @Model.name</h3>
                <div class="table-bordered">
                    <p>Your Email @Model.Email</p>
                    <p>Address @Model.address</p>
                    <p>Age @Model.age</p>
                    <p>Department , @Model.department.name</p>
                </div>
            </td>
        </tr>
    </table>
}
else
{
    <div>
        <h1> Welcome To Our Website </h1>
        <p>You Can Register From Link Below</p>
        <br />
        <br />
        @Html.ActionLink("Register", "create", null, new { @class = "btn btn-info" })
        <br />
        <br />
    </div>
}