@model logindata
@{
    ViewBag.Title = "login";
}
<h1>@ViewBag.ms</h1>
<form method="post">
    <table class="table">
        <tr>
            <td>Email</td>
            <td>@Html.EditorFor(n => n.email)</td>
            <td>@Html.ValidationMessageFor(n => n.email)</td>
        </tr>
        <tr>
            <td>password</td>
            <td>@Html.PasswordFor(n => n.password)</td>
            <td>@Html.ValidationMessageFor(n => n.password)</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.CheckBox("saveme", false) remember me</td>
            <td></td>
        </tr>
        <br />
        <br />
        <tr>
            <td>@if (ViewBag.msg != null)
            {@ViewBag.msg;
        }</td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <br />
    <button type="submit" value="login" class="btn btn-info">Login</button>

</form>
